@charset "utf-8";
.table{
    border-style:solid, gray;
    border-width:1px;
}
th{
    text-align:center;
}
iframe{
    border-style: solid;
    border-width: 1px;
    height:60vh;
}
body{
    background-position: center;
    background-repeat: no-repeat;
}
