@charset "utf-8";

.out-box{
    width: 750px;
    height: 550px;
    /*
    margin-top: 50px;
    margin-left: calc(50% - 375px);
    */
    margin: 50px 0px 0px calc(50% - 375px);
    border-style: solid;
    border-color: #EBE9E9;
    border-width: 1px;
    box-shadow: 0 0 5px gray;
}
.in-box{
    padding: 48px 40px 36px 40px;
    width: 670px;
    height: 464px;
}
.inner-box{
    border-style: solid;
    border-color: whitesmoke;
    border-width: 1px;
    height: 464px;
}
.left-box{
    display: inline-block;
    width: 370px;
    height: 464px;
    border-color: whitesmoke;
    border-width: 1px;
    border-style: solid;
    padding: 0;
}
.right-box{
    display: inline-block;
    width: 280px;
    height: 464px;
    border-color: blue;
    border-width: 1px;
    border-style: solid;
    padding: 0;
}
.logo-img{
    width: 370px;
    height: 32px;
    }
.google-text-box{
    width: 370px;
    height: 73px;
    padding: 0;
    }
.google-text-1{
    height:32px;
    width:370px;
    padding: 16px 0 0 0;
}
h1{
    font-size: 24px;
    font-weight: 400px;
    line-height: 32px;
    margin:0;
}
p{
    margin: 0;
    padding: 1px 0 3px 0;
    size: 13px;
}
.info{
    width: 370px;
    height: 344px;
    padding: 24px 0 0 0;
}
.input-info{
    width: 370px;
    height: 264px;
    margin: 0;
    padding: 0;
}
.alt-login{
    height: 48px;
    width: 370px;
    margin: 32px 0 0 0;
}
.full-name{
    height: 76.8px;
    width: 370px;
    margin: 0;
    padding: 0;    
}
.last-name{
    height:24px;
    widows: 285.63px;
    margin:0 17px 0 0;
    display: inline-block;
    padding: 24px 0 0 0;
}
.first-name{
    height:76.8px;
    width:177px;
    margin:0;
    display: inline-block; 
    padding: 24px 0 0 0;
}
.name{
    height: 24px;
    width: 177px;
    font-size: 15px;
    border-style:none;
    border-bottom-style: solid;
    border-bottom-color: gainsboro;
}
.name2{
    height: 24px;
    width: 260px;
    font-size: 15px;
    border-style:none;

}
#username{

}

.last-name{

}
.input-id-box{
    border-style:none;
    border-bottom-style: solid;
    border-bottom-color: gainsboro;

}
.gmail{
    display: inline-block;
    width: 50px;
    font-size: 13px;

}
.word{
    font-size: 1px;
}
.alt-login-a{
    text-decoration: none;
    color: #4285f4;
}
.alt-login-b{
    float: right;
    width:88px;
    height: 36px;
    background-color: #4285f4;
    border-style: none;
    border-radius: 5px;
    color: white;
}
.img-base{
    display: inline-block;
    position: absolute;
    padding: 0px 0 0 calc(50% + 80px);

}